@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* 
body * {
	font-family: 'Noto Sans KR', sans-serif;
}
a:link, a:visited {
	text-decoration: none;
	color: #919191;
}
#content {
	min-width: 1280px; min-height: 779px; height: 100%; 	
}
img {
	vertical-align: middle;		세로축 가운데 정렬
}
.btnSet { margin-top: 20px; }
a.btn-fill, a.btn-empty {
	text-align: center;
	padding: 3px 10px;
	border: 1px solid #696aad;
	border-radius: 1px;
	box-shadow: 1px 1px 2px;
	       오른쪽, 아래쪽, 번짐 정도
}
a.btn-fill {
	background: #696aad;
	color: #fff;	
}
a.btn-empty {
	background: #fff;
	color: #696aad;
}
a.btn-fill-s {
	font-size: 13px; font-weight: bold;
	padding: 1px 10px;
	border: 1px solid #c4dafc;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #022d72;
	background : #b1cdfa;
	color: #0000cd;	
}
a:hover { cursor: pointer; }
input {
	height: 22px;
	padding: 3px 5px;
	font-size: 15px;
	border: 1px solid #b0b0b0;
}
 
textarea {
	border: 1px solid #b0b0b0; font-size: 15px; padding: 10px; height: 250px; resize: none;
}
input[name=title], textarea[name=content] { width: calc(100% - 24px) }
input[name=addr] { width: calc(100% - 24px) }
	calc(100% - 24px) 폭 100%에서 양쪽 24px(여백) 만큼 뺀 값만큼 늘림
input[type=radio] {
	width: 18px;
	margin: 0 5px 3px;
	vertical-align: middle;
}
input[type=file], #delete-file { display: none; }
select:focus, input:focus, textarea:focus { outline: none;}
ul { list-style: none; padding: 0px;}
select {height: 34px; border: 1px solid #b0b0b0; padding : 0 5px; cursor: pointer;}
.center {
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%, -50%);	
}
#preview { height: 36px; display: inline-block;}
#preview-img { max-height: 34px;}
ul.grid {
	width: 80%;
	margin: 0 10%;
	display: inline-block;
}
ul.grid li {
	float: left;
	width: 19%;
	height: 150px;
	margin: 20px 1.25% 0 0;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
}
ul.grid li:nth-child(5n) {
	margin-right: 0;
}
(5n) 5번째 마다(n)의 의미
ul.grid li div {
	text-align: left;
	padding: 9px 10px;
}
ul.grid li div:nth-child(2){
	padding: 0px 10px;
}
ul.grid li div:nth-child(1){
	height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
} */

a.btn-fill-s {
	font-size: 13px; font-weight: bold;
	padding: 1px 10px;
	border: 1px solid #c4dafc;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #022d72;
	background : #b1cdfa;
	color: #0000cd;	
}

a:hover { 
	cursor: pointer; 
}



/* width 값을 class로 등록하여 관리 */
.w-pct80 {width : 80%}
.w-pct70 {width : 70%}
.w-pct60 {width : 60%}
.w-pct50 {width : 50%}
.w-pct40 {width : 40%}
.w-pct30 {width : 30%}
.w-pct20 {width : 20%}


.w-px450 {width : 450px}
.w-px400 {width : 400px}
.w-px340 {width : 340px}
.w-px300 {width : 300px}
.w-px250 {width : 250px}
.w-px230 {width : 230px}
.w-px200 {width : 200px}
.w-px180 {width : 180px}
.w-px160 {width : 160px}
.w-px140 {width : 140px}
.w-px120 {width : 120px}
.w-px100 {width : 100px}
.w-px90 {width : 90px}
.w-px80 {width : 80px}
.w-px70 {width : 70px}
.w-px60 {width : 60px}
.w-px50 {width : 50px}
.w-px40 {width : 40px}
.w-px30 {width : 30px}
.w-px20 {width : 20px}
.w-px10 {width : 10px}

/* common */
html,body,div,span,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,p,address,pre,cite,form,fieldset,table,th,td,legend,label{margin:0;padding:0;border:0;font-size:15px; font-weight: 400; letter-spacing:-.03em; font-family: 'Montserrat', 'Noto Sans Korean', 'Helvetica', 'Verdana', sans-serif; color: #191927;}
input,textarea,select{margin:0;padding:0; border: 0;  font-family: 'Montserrat', 'Noto Sans Korean', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Helvetica', 'Verdana', sans-serif;}

a{text-decoration:none; cursor: pointer}

body{line-height:120%;color:#776f67;letter-spacing:0;-webkit-text-size-adjust:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
fieldset,img,abbr,acronym,label{border:0 none}
.blind,legend{display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
blockquote:before,blockquote:after,q:before,q:after{content:''}
ol,ul,dl{list-style:none}
hr{display:none}
fieldset{border:0}
label,select,input,textarea{vertical-align:middle}
img{vertical-align:top}
.autoH:after{display:block;clear:both;content:' '}
.autoH{*zoom:1}
address,caption,em,cite{font-weight:normal;font-style:normal}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:separate;border:0 none;border-spacing:0;
background:center;
width: 1500px;
margin: 0 auto;
border-top: 1px solid #444444;
border-collapse: collapse;	/* 테두리 겹침 설정 collapse : 겹치지 않게 처리 */
position: relative;}
table tr { height: 46px; }
table th, table td {border-bottom: 1px solid #e0e0e0; padding: 5px 10px; color: gray; }
table th { background: #f6f6f6; color:black;}
caption{font-weight:normal;text-align:left}
input:focus,
select,
a,
textarea{outline: none; tap-highlight-color:transparent; -webkit-tap-highlight-color:transparent; }
select,button,textarea,input{font-family: 'Montserrat', 'Noto Sans Korean', sans-serif;}
*{box-sizing: border-box;}
/* common */

#content {
	min-width: 1280px; min-height: 600px; height: 100%;
}

body {
	text-align: center;	
	font-size: 16px;
}

#list-top { padding:  20px 10%}
#list-top div { height: 36px;}
#list-top ul { margin: 0; display: flex;}
#list-top ul li * { vertical-align: middle;}
#list-top ul {margin-left: 3px;}
#list-top ul:first-child { float: left;}
#list-top ul:last-child {float: right;}

.left {
	text-align: left;
}
.right {
	text-align: right;
}

a:link, a:visited {
	text-decoration: none;
	color: gray;
}

.file-img { width: 20px; height: 18px; cursor: pointer;}

a.btn-fill, a.btn-empty {
	text-align: center;
	padding: 3px 10px;
	border: 1px solid #696aad;
	border-radius: 1px;
	box-shadow: 1px 1px 2px;
}
a.btn-fill {
	background: #696aad;
	color: white;	
}
a.btn-empty {
	background: #fff;
	color: #696aad;
}

a.btn-fill-s {
	font-size: 13px; font-weight: bold;
	padding: 1px 10px;
	border: 1px solid #c4dafc;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #022d72;
	background : #b1cdfa;
	color: #0000cd;	
}

a:hover { 
	cursor: pointer; 
}

#vo_title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  width: 500px;
  display: inline-block;
}

#preview { height: 36px; display: inline-block;}
#preview-img { max-height: 34px;}