<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="drug.mapper">


	<select id="select" resultType="pill.PillVO">
		select * 
		from pill
		where pill_code1 = #{drug}
	
	</select>

</mapper>