<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IoT.mapper">

	<insert id="iot_insert">
		INSERT INTO iot_box(user_id, memo, case_num1, case_num2, case_num3, case_num4, case_date1, case_date2, case_date3, case_date4)
		VALUES (#{user_id}, #{memo}, #{case_num1}, #{case_num2}, #{case_num3}, #{case_num4}, #{case_date1, jdbcType=VARCHAR},
		 #{case_date2, jdbcType=VARCHAR}, #{case_date3, jdbcType=VARCHAR}, #{case_date4, jdbcType=VARCHAR})
	</insert>
	
	<select id="iot_list" resultType="IoT.IoTVO">
		select *
		from IOT_BOX
		where user_id = #{user_id}
	</select>

</mapper>