<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iotmap.mapper">

	<insert id="insert">
	
	insert into box_gps(box_id, user_id, latitude,longitude,gps_date) values(#{box_id}, #{user_id}, #{latitude},#{longitude},sysdate)
	
	</insert> 

	<select id="webSelect" resultType="iot.GPSVO">
		select * from box_gps where box_id = #{box_id} and user_id = #{user_id}
	</select>


</mapper>