<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review.mapper">

<!-- 리뷰 등록 -->
<insert id="insert">
	insert into review(user_id,hp_code,rev_grade,rev_text1,rev_text2,rev_text3,rev_text4,rev_date)
	 values(#{user_id},#{hp_code},#{rev_grade},#{rev_text1}, #{rev_text2}, #{rev_text3}, #{rev_text4}, #{rev_date})

</insert>

<!-- 리뷰 전체 조회 -->
<select id="selectAll" resultType= "review.ReviewVO">
	select  r.rev_num, r.user_id,r.rev_grade,r.hp_code,r.rev_text1, r.rev_text2, r.rev_text3, r.rev_text4, 
			to_char(r.rev_date, 'YYYY-MM-DD') rev_date, a.user_name
	from review r inner join anafor_user a 
	on r.user_id = a.user_id  
	where hp_code = #{code} order by rev_date 
</select>

<!-- 해당 회원 리뷰 조회 -->
<select id="selectMy" resultType= "review.ReviewVO">
	select r.rev_num, r.user_id, r.rev_grade, r.hp_code, r.rev_text1, r.rev_text2, r.rev_text3, r.rev_text4, 
			to_char(r.rev_date, 'YYYY-MM-DD') rev_date, hp_name from review r inner join hp 
			on hp.hp_code = r.hp_code  where user_id = #{user_id}
</select>
</mapper>