<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuser.mapper">


<!-- 회원 가입 정보 DB 저장 -->
<insert id="join">
	insert into anafor_user (user_id, user_pw, user_name, user_birth, user_tel, user_gender) values (#{user_id}, #{user_pw}, #{user_name},#{user_birth}, #{user_tel}, #{user_gender})

</insert>

<!-- 로그인 기능 -->
<select id="login" resultType="user.UserVO">
	select * from anafor_user where user_id = #{user_id} and user_pw = #{user_pw}
</select>

<!-- 회원 이메일 중복 여부 -->
<select id="emailchk" resultType="integer">
		select count(*) from anafor_user
		where user_id = #{id}
</select>

<!-- 소셜 회원 정보 입력-->
<insert id="social_insert">
	insert into anafor_user (user_id, user_name, user_birth, user_tel, user_gender, ${social_type} )
	values(#{user_id}, #{user_name}, #{user_birth,jdbcType=DATE}, #{user_tel,jdbcType=VARCHAR}, #{user_gender}, #{social_id})
</insert>
<!-- 소셜 회원 정보 업데이트 -->
<update id="social_update">
	update anafor_user set user_name = #{user_name}, user_tel = #{user_tel,jdbcType=VARCHAR}, user_gender = #{user_gender}
	where ${social_type} = #{social_id}
</update>
<!-- 소셜 회원 존재 여부 조회 -->
<select id="social_email" resultType="integer">
			select count(*) from anafor_user
			where ${social_type} = #{social_id}
			<!-- ${social_type} 내 들어있는 동적 데이터 (즉, 네이버, 카카오) 를 불러옴 -->
</select>
</mapper>