<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wuser.mapper">


<!-- 로그인 기능 -->
<select id="login" resultType="user.UserVO">
	select * from anafor_user where user_id = #{user_id} and user_pw = #{user_pw}
</select>

<!-- 회원 이메일 중복 여부 -->
<select id="emailchk" resultType="integer">
		select count(*) from anafor_user
		where user_id = #{id}
</select>

</mapper>